[defaults]
inventory = inventories/kane-il/hosts.yml
roles_path = roles
stdout_callback = default
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = False

[privilege_escalation]
become = True
